.hm{
    padding: 20px;
}
.k{
    background-image: url('banner_1920_550.jpg');
    height: 550px;;
}
.l{
    text-align: right;
}
.m1{
    text-align: center;
    color:blue;
    padding-top: 70px;
    padding-bottom: 50px;
}
.m2{
    background-color: aqua;
    height: 500px;
    padding: 100px;
}
.mm{
    padding: 100px;
}
.pp{
    height: 200px;
    width: 198px;
}
.aa{
 color:white;
 padding-left: 100px;
}
.f{
    padding-top: 100px;
    padding-right: 100px;
}
.hh{
    background-color:aqua
}
.hhh{
    background-color: blue;}